.tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile_social {
  background: #2a2b2f;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid rgba(11, 63, 95, 1);
}

.tooltip-container:hover .tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon_social {
  text-decoration: none;
  color: #e8eae1;
  display: block;
  position: relative;
}
.layer_social {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}
.icon_social:hover .layer_social {
  transform: rotate(-35deg) skew(20deg);
}
.layer_social span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s;
}

.layer_social span,
.text_social {
  color: #1da1f2;
  border-color: #1da1f2;
}

.icon_social:hover .layer_social span {
    border: 1px solid #fff;

  box-shadow: -1px 1px 3px #801f1d;
}
.icon_social .text_social {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
}
.icon_social:hover .text_social {
  bottom: -35px;
  opacity: 1;
  visibility: visible;
}

.icon_social:hover .layer_social span:nth-child(1) {
  opacity: 0.2;
}
.icon_social:hover .layer_social span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icon_social:hover .layer_social span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.icon_social:hover .layer_social span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icon_social:hover .layer_social span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.layer_social span .fab {
  font-size: 30px;
  line-height: 64px;
  text-align: center;
  background: #000;
}
.user_social {
  display: flex;
  gap: 10px;
}
.img_social {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #1da1f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.name_social {
  font-size: 17px;
  font-weight: 700;
  color: #1da1f2;
}
.details_social {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}
.about_social {
  color: #ccc;
  padding-top: 5px;
}
.fab{
    display: flex;
    justify-content: center;
    align-items: center;
}